extends layout

block content
  .row
    .col-md-6.col-md-offset-3
      h1= title
  .game-container
  script.
    Yendor.play(document.querySelector('.game-container'), {
      game: "#{game}",
      cols: #{term.cols},
      rows: #{term.rows},
    });
  .row
    .col-md-6.col-md-offset-3
      pre #{readme}